/* ./src/components/Footer/Footer.css */
/* Local Styles for Footer */
.bottom-footer {
  background-color: #777; /* Gray color for the footer */
  color: #e0e0e0; /* Light color for text */
  padding: 20px;
  font-size: 14px;
  text-align: left;
  width: 100%;
}